<!--&lt;!&ndash; Page Layout here &ndash;&gt;-->
<div class="row flex-xl-nowrap">

  <div class="col-lg-4 col-md-4 col-xl-2  bg-dark shadow-lg p-0 ">
    <!-- Grey navigation panel -->
    <div class="col-12 mr-auto pl-3 mt-5 ">
      <div class="col-12 justify-content-center align-items-center">
        <figure class="col-12 p-0"><img
          src="https://cdn2.f-cdn.com/contestentries/1316431/24595406/5ae8a3f2e4e98_thumb900.jpg"
          class="rounded-circle col-12 " alt=""></figure>

        <div class="col-12 text-center">
          <a class="font-weight-bold text-primary" href="https://github.com/abdomashael">Abdo Mashael</a>
        </div>
        <p class="col-12 text-center text-white">Developer</p>
      </div>
    </div>
    <hr class="hr"/>

    <div class="col-12 row mr-auto text-center  pl-5 ">
      <h6 class="text-center text-primary">Total Cards : </h6>
      <p class="col-4 text-center text-white"> {{maxCardsCount}}</p>
    </div>

    <div class="col-12 row mr-auto text-center  pl-5 " *ngIf="searchResultCount > 0">
      <h6 class="text-center text-primary">Search Cards : </h6>
      <p class="col-4 text-center text-white"> {{searchResultCount}}</p>
    </div>
  </div>

  <main class=" justify-content-center align-items-center">
    <!-- Teal page content  -->

    <div class="row d-flex justify-content-center mt-4 ">
      <div class="col-lg-3 col-md-4 col-sm-1 mr-auto ml-lg-5" *ngFor="let card of pageData">
        <div class="card p-2 mb-5 shadow" style="width: 18rem;">
          <img src="{{card.image}}" class="card-img-top">
          <div class="card-body p-0 pt-2 ">
            <h5 class="card-title col-12 font-weight-bold text-danger align-self-center align-content-center text-center">{{card.name}}</h5>

            <ul class="list-group list-group-flush p-0">
              <li class="list-group-item pb-1"><label class="text-secondary text-center  m-0"> Amiibo :</label> {{ card.amiiboSeries}}</li>
              <li class="list-group-item pb-1"><label class="text-secondary"> Character :</label> {{card.character}}</li>
              <li class="list-group-item pb-1"><label class="text-secondary"> Game Series :</label> {{card.gameSeries}}</li>
              <li class="list-group-item pb-1"><label class="text-secondary"> Type :</label> {{card.type}}</li>

            </ul>
            <div class="card-body">

            <a href="#" class="card-link">This is a link</a>
          </div>
          </div>


        </div>
      </div>
    </div>


  </main>

</div>
<footer class="pb-2 pt-2 bg-primary ">
  <ul class="pagination justify-content-center row">
    <li class="page-item"><a class="page-link" (click)="previous()">Previous</a></li>
    <li class="page-item " *ngFor="let item of fakeArray">
      <ng-template
        *ngIf="currentPageNo === item;then showBlock; else notShowBlock">
      </ng-template>
      <ng-template #showBlock>
        <a class="page-link text-info" (click)="refresh(item)">{{item}}</a>
      </ng-template>

      <ng-template #notShowBlock>
        <a class="page-link " (click)="refresh(item)">{{item}}</a>
      </ng-template>

      <!--        <a class="page-link text-info" (click)="refresh(item)">{{item}}</a>-->
    </li>
    <li class="page-item"><a class="page-link" (click)="next()">Next</a></li>
    <span class="font-weight-bold  align-self-center pl-2"> Of {{maxPagesCount}}</span>

  </ul>


</footer>
<!-- SideNav slide-out button -->
<!-- SideNav slide-out button -->
